asgiref==3.9.1
bleach==6.2.0
Django==5.2.4
django-markdownify==0.9.5
django-markdownx==4.0.9
django-taggit==6.1.0
Markdown==3.8.2
pillow==11.3.0
sqlparse==0.5.3
tinycss2==1.4.0
typing_extensions==4.14.1
webencodings==0.5.1
